body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #e9e9e9;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2.5rem;
    border-bottom: 2px #90CAF9 solid;
}

.content {
    display: flex;
}

.main-panel {
    display: flex;
    flex-direction: column;
    min-height: 90vh;
    flex: 1;
    padding: 30px 50px;
}

.banner {
    background-color: #90CAF9;
    height: 60px;
    font-size: 2.5rem;
    padding: 20px;
    display: flex;
    align-items: center;
}

.menu span, .theme span {
    margin: 0 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-radius: 5px;
    width: 36px;
    height: 36px;
    cursor: pointer;
}

.menu span:hover, .theme span:hover {
    background-color: rgb(201, 201, 201);
}

.menu span img {
    width: 20px;
}

.theme span img{
    width: 30px;
}

.logo-section {
    display: flex;
    justify-content: center;
    width: 40px;
}

.logo-section span:nth-child(3) {
    color: #90CAF9;
}

.side-panel {
    width: 350px;
    padding: 12px 24px;
    background-color: #fffefe;
}

.home h2, .projects h2 {
    border-bottom: 5px #3F51B5 solid;
}

.hidden {
    display: none;
}

.project-form img {
    padding-bottom: 2px;
}

.project-form {
    display: flex;
    align-items: center;
    height: 50px;
    justify-content: space-evenly;
    background-color: #e9e9e9;
    margin: 8px 0;
}

.project-form-buttons {
    display: flex;
    gap: 6px;
}

.project-div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 50px;
    background-color: aliceblue;
    padding: 0 30px;
    margin: 8px 0;
}

.project-div span {
    display: flex;
    flex: 1;
    padding-left: 8px;
}

.project-btn-container {
    display: flex;
    gap: 8px;
}