body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    border: 1px blue solid;
    align-items: center;
    font-size: 2.5rem;
}

.content {
    display: flex;
}

.main-panel {
    display: flex;
    flex-direction: column;
    min-height: 90vh;
    border: 1px red solid;
    flex: 1;
    padding: 30px 50px;
}

.banner {
    background-color: #90CAF9;
    height: 60px;
    font-size: 2.5rem;
    padding: 20px;
    display: flex;
    align-items: center;
}

.menu span, .theme span {
    border: 1px red solid;
    margin-left: 8px;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu span img {
    width: 20px;
}

.theme span img{
    width: 30px;
}

.logo-section {
    display: flex;
    justify-content: center;
    width: 40px;
}

.logo-section span:nth-child(3) {
    color: #90CAF9;
}

.side-panel {
    width: 350px;
    border: 1px purple solid;
    padding: 12px 24px;
}

.home h2, .projects h2 {
    border-bottom: 5px #3F51B5 solid;
}